/* VARIABLES */

$nav-padding: 3px 30px 0px 30px;

$nav-font-size: 1.1rem;

$nav-background: rgb(252, 252, 252);

$nav-color: #712cb1;

$hover-color: #b875f7;

$secondary-gradient-color: 	#f186f1;

$button-gradient: (90deg, #822dd1, #d365d3);

$button-gradient-hover: (90deg, #8846c7, $secondary-gradient-color);

$paragraph-color: rgb(85, 84, 84);

$paragraph-color-2: rgb(236, 236, 236);

$purple-shadow: (-10px 5px 20px 2px #5c278d);

$white-shadow: -10px 5px 20px 0px #dadada;

$purple-background: (180deg, $nav-color, #a840e4);



/* IMPORT */

@import 
url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

////////////////////////////////////////////

/* General Rules */

*{
    box-sizing: border-box;
}

body, html{
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

////////////////////////////////////////////

/* NAVBAR */

nav{
    position: fixed;
    margin-top: 0px;
    z-index: 9;
}

@media (max-width: 730px){
    nav{
      display: none;
    }
}

li{
    font-size: $nav-font-size;
}

#nav-bar{
    display: flex;
    background-color: $nav-background;
    color: $nav-color;
    width: 100%;
    position: fixed;
    justify-content: center;
    font-weight: bold;
    z-index: 9;
    /* box-shadow: 2px 0px 15px 1px #E6E6FA */;
}

@media (max-width: 730px){
    #nav-bar{
      display: none;
    }
}

.navbar-container{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-img{
    width: 23px;
}

.navbar-links{
    display: flex;
}

.navbar-links-li{
    list-style: none;
    display: flex;
    padding: $nav-padding;
    text-decoration: none;
}

.navbar-links-li:hover{
    color: $hover-color;
}

.navbar-links-li-button{
    list-style: none;
    background: linear-gradient($button-gradient);
    color: white;
    background-size: 7rem;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 17px;
    padding-right: 17px;
    margin-top: 0;
    border-radius: 20px;
}

.navbar-links-li-button:hover{
    cursor: pointer;
    background: linear-gradient($button-gradient-hover);
}

/////////////////////////////

/* HOME */



.home{
    display: flex;
    text-align: left;
    justify-content: center;
    background: linear-gradient($purple-background);
    padding-bottom: 2rem;
    padding-top: 5rem;
}

.home-image img{
    width: 400px;
    transform: scaleX(-1);
    z-index: 1;
}

.home-title{
    max-width: 330px;
    padding-top: 3rem;
}

.home-title h1{
    color: white;
    padding-bottom: 0;
    margin-bottom: 0px;
}

.home-title p{
    color: $paragraph-color-2;
    padding-top: 0;
}

#start-now{
    color: white;
    background: linear-gradient($button-gradient);
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 10px;
    box-shadow: $purple-shadow;
}

#start-now:hover{
    cursor: pointer;
    background: linear-gradient($button-gradient-hover);
}

@media (max-width: 810px){
    .home-image img{
      width: 50vw;
    }
    .home-title{
      padding-left: 40px;
    }
}
  
@media (max-width: 730px){
    .home{
      display: block;
      text-align: center;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 4rem;
      margin-top: -20px;
    }
    
    .home-title{
      max-width: 730px;
      margin: 20px 45px 20px 0px;
      display: block;
    }
    
    .home h1{
      padding-top: 2rem;
      margin-top: 0px;
    }
    
    .home-image img{
      display: none;
    }
}



///////////////////////////////////

/* HOW IT WORKS? */

.hiw{
    display: flex;
    justify-content: center;
}

.hiw-image{
    width: 300px;
    transform: scaleX(-1);
    margin-top: -30px;
}

.hiw-text{
    max-width: 430px;
    padding-top: 3rem;
    padding-left: 2rem;
    color: $nav-color;
}

.hiw-text h1{
    margin-bottom: 0px;
}

.hiw-text p{
    color: $paragraph-color;
}

@media (max-width: 830px){
    .hiw-image{
      margin-left: 2rem;
    }
}
  

@media (max-width: 710px){
    .hiw{
      display: block;
    }
    
    .hiw-image{
      display: none;
    }
    
    .hiw-text h1{
      text-align: left;
    }
    
    .hiw-text{
      max-width: 630px;
      text-align: left;
      margin: 0 45px 0 15px;
      padding: 0 auto 0 auto;
      justify-content: center;
    }
}

/* THE DESIGN */

.the-design{
    max-width: 730px;
    margin: 10px auto 0 auto;
    padding-top: 1.5rem;
}

.the-design h1{
    color: $nav-color;
}

.the-design p{
    color: $paragraph-color;
}

@media (max-width: 830px){
    .the-design{
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
}

@media (max-width: 710px){
    .the-design{
      max-width: 630px;
      margin: 10px 45px 0 45px;
    }
    
    .the-design h1{
      padding-top: 0rem;
    }
  }


/* THE PLATAFORM */

.the-plataform{
    max-width: 730px;
    margin: 10px auto 0 auto;
    padding-top: 1.5rem;
}

@media (max-width: 830px){
    .the-plataform{
      margin-left: 2.5rem;
      margin-right: 2.5rem;
    }
}

.the-plataform h1{
    color: $nav-color;
    text-align: right;
    margin-top: -10px;
}

.the-plataform p{
    color: $paragraph-color;
}

@media (max-width: 710px){
  .the-plataform{
    max-width: 630px;
    margin: 10px 45px 0 45px;
  }
  
  .the-plataform h1{
    text-align: left;
    padding-top: 2rem;
  }
}


.test-right{
    text-align: right;
}

#plataform{
    color: white;
    background: linear-gradient($button-gradient);
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10 auto 10 auto;
    box-shadow: $white-shadow;
    float:right;
}

#plataform:hover{
    cursor: pointer;
    background: linear-gradient($button-gradient-hover);
}

@media (max-width: 710px){
  .test-right{
    text-align: left;
  }
  
  #plataform{
    float: left;
  }
}


/////////////////////////////

/* VIDEO DEMONSTRATION */

.video {
    text-align: center;
    background: linear-gradient($purple-background);
    padding-top: 1rem;
}

.video h1{
    text-align: center;
    padding-bottom: 1rem;
    color: white;
}

.video > iframe {
    background: black;
    border: none;
    height: 340px;
    width: 730px;
    border-radius: 30px;
    box-shadow: $purple-shadow;
}

.video p{
    text-align: center;
    color: $paragraph-color-2;
    padding-bottom: 2rem;
}

@media (max-width: 810px){
    .video > iframe{
      width: 75vw;
      height: 45vw;
    }
    
    .video p{
      max-width: 730px;
      padding-left: 40px;
      padding-right: 40px;
    }
    
    .video h1{
      max-width: 730px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
}

////////////////////////////////

/* PLANS */

#third-section-plans h1{
    text-align: center;
    padding-top: 2rem;
    color: $nav-color;
}

#third-section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3rem;
}

#third-section p{
    line-height: 40px;
    margin-top: -10px;
    margin-bottom: -5px;
}
  
.plan {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(730px / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}
  
.plan > .level {
    background: $nav-color;
    color: white;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
}
  
.plan > h2 {
    margin-top: 15px;
}
  
.plan > ol {
    margin: 0px 0;
    justify-content: center;
}
  
.plan > ol > li {
    padding: 5px 0;
    justify-content: center;
}
  
.plan > button {
    color: white;
    background: linear-gradient($button-gradient);
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 20px auto 20px auto;
    box-shadow: $white-shadow;
}
  
.plan > button:hover {
    cursor: pointer;
    background: linear-gradient($button-gradient-hover);
}

s{
    color: #818181;
}
  
@media (max-width: 800px) {
    #third-section {
      flex-direction: column;
    }
    .plan {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
}

//////////////////////////////

/* FORM */

#fourth-section{
    display: flex;
    padding-top: 4rem;
    background: linear-gradient($purple-background);
    justify-content: center;
}

@media (max-width: 710px){
  #fourth-selection{
    display: block;
    margin: 0 45px 0 45px;
    padding-left: 5rem;
  }
}

.form-img{
    width: 430px;
    padding-bottom: 2rem;
}

@media (max-width: 710px){
  .form-img{
    display: none;
  }
}

.register{
    color: white;
}

.form-group{
    padding-bottom: 2rem;
}

.form-group p{
    padding: 0;
    margin-top: -20px;
}

label{
    font-size: 1.5rem;
    font-weight: bold;
}

input{
    height: 1.7rem;
    width: 200px;
    border-radius: 10px;
    border: none;
    padding-left: 1rem;
}

@media (max-width: 710px){
  input{
    width: 90vw;
  }
}

#submit-r{
    color: white;
    background: linear-gradient($button-gradient);
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 10 auto 10 auto;
    box-shadow: $purple-shadow;
    height: 2.8rem;
}

#submit-r:hover{
    cursor: pointer;
    background: linear-gradient($button-gradient-hover);
}

@media (max-width: 710px){
  #submit-r{
    width: 80vw;
    justify-content: center;
  } 
}

////////////////////////////////////

/* MESSAGE FORM */



 /* Style inputs, select elements and textareas */
 #fifth-section input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    resize: vertical;
    border-radius: 20px;
    box-shadow: -6px 3px 5px rgb(223, 223, 223);
    font-family: 'Ubuntu', sans-serif;
  }
  
  /* Style the label to display next to the inputs */
  #fifth-section label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: $nav-color;
  }
  
  /* Style the submit button */
  #fifth-section input[type=submit] {
    background: linear-gradient($button-gradient);
    color: white;
    padding: 12px 20px 28px 20px;
    outline: none;
    border-radius: 150px;
    cursor: pointer;
    float: right;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
  
  /* Style the container */
  #fifth-section {
    border-radius: 5px;
    padding: 20px;
    padding-top: 50px;
    max-width: 730px;
    margin: 0 auto 0 auto;
  }

  #fifth-section input[type=email]{
    box-shadow: -6px 3px 5px rgb(223, 223, 223);
    width: 100%;
  }
  
  /* Floating column for labels: 25% width */
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 7100px) {
    .col-25, .col-75, #fifth-section input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  } 

  //////////////////////////////////

  /* CREDTS */

  .credits p{
    text-align: center;
    font-size: 1rem;
    padding-top: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    color: $nav-color;
    text-shadow: 10px 10px 10px 10px $white-shadow;
  }